/*  add your styles below
    Keep all the comments I have provided.
    Where I have commented "keep," DO NOT touch that line!

    */


body, aside {
    background: #9F91BF; /*dark lavender */
    color: #fff; /* white */
    font-family: Calibri, Arial, sans-serif; /* keep */
}

article {
    background: #BCC7FF; /*periwinkle */
    color: #000; /* black */
    width: 800px; /* keep */
    padding: 20px; /* keep */
    margin: auto; /* keep */
    border: 1px solid; /* can delete */
}

figure {
    background: #89B0F3; /*dark periwinkle */
}

header, footer {
  background: #35946D; /*dark sea foam*/
  color: #fff; /* white */
}


/* add your pseudo classes below this line */

a:link {color: #D5FFFD; /*light turquoise */}
a:visited {color: #5E3985; /*purple*/}
a:focus {color: #F8E1FF; /* pale pink*/ }
a:hover {color: #840085; /*mauve*/}
a:active { color: #9FE5C7; /*sea foam green*/}
